<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <script src="//unpkg.com/htmx.org@2.0.4"></script>
        <script src="https://cdn.tailwindcss.com"></script>
    </head>
    <body>
        <div class="flex space-x-2">
            <input
                id="search"
                type="search"
                autofocus
                name="q"
                placeholder="search..."
                required
                value="{{.Query}}"
                hx-trigger="keyup changed delay:500ms, load"
                hx-target="#results"
                hx-get="/!"
                hx-include="#extact"
                class="w-1/2 border border-gray-300 rounded-lg p-2"
            />
            <label for="extact" class="flex items-center">
                <input
                    type="checkbox"
                    id="extact"
                    name="exact"
                    {{if .Exact}}checked{{end}}
                    hx-target="#results"
                    hx-get="/!"
                    hx-include="#search"
                    hx-trigger="change"
                />
                <span class="px-2">exact</span>
            </label>
        </div>
        <div class="flex">
            <menu>
                <button 
                    hx-get="/!?v=2.5.0" hx-swap="none" 
                    class="border border-gray-300 rounded-lg px-2 {{if eq .Version "2.5.0"}}bg-blue-200{{end}}"
                >2.5.0</button>
                <button 
                    hx-get="/!?v=3.5.0" hx-swap="none" 
                    class="border border-gray-300 rounded-lg px-2 {{if eq .Version "3.5.0"}}bg-blue-200{{end}}"
                >3.5.0</button>
            </menu>
        </div>
        <output id="results"></output>
        <script defer>
            const input = document.getElementById("search");
            input.addEventListener("input", () => {
                const query = input.value;
                const url = new URL(window.location);
                if (query) url.searchParams.set("q", query);
                else url.searchParams.delete("q");
                history.replaceState({}, "", url);
            });
        </script>
    </body>
</html>
