{{ template "base" . }} {{ define "content" }}
<h1 class="title">HTML!</h1>
<a class="corner-link left" href="/static/life.png">
    life.png
    <img class="preview" src="/static/life.png" alt="" loading="lazy" />
</a>
<a class="corner-link right" href="/static/r-tape-loading-error.gif">
    r-tape-loading-error.gif
    <img class="preview" src="/static/r-tape-loading-error.gif" alt="" loading="lazy" />
</a>

<div class="search-row">
<input
    class="search"
    type="search"
    name="q"
    value="{{ .Query }}"
    placeholder="filter by name"
    autocomplete="off"
    autofocus
    hx-get="/variables"
    hx-trigger="input changed delay:1s, search"
    hx-target="#vars"
    hx-indicator="#spinner"
/>
<span id="spinner" class="spinner htmx-indicator" aria-label="loading"></span>
</div>

<table>
    <tbody id="vars">
        {{ template "variables" . }}
    </tbody>
</table>

{{ end }}
