#board {
    width: 600px;
    height: 600px;
    border: 1px solid black;
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
}

div.field {
    background-color: #f0d9b5;
    border: 1px solid #b58863;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
}

div.field:hover {
    background-color: #e6cfa0;
    cursor: pointer;
}

div.last-move {
    background-color: #a0c4ff;
}

div.legend {
    font-size: 14px;
    background-color: #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
}

#spacer {
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#thinking {
    position: fixed;
    bottom: 0;
    left: 0;
    font-size: 20px;
    display: none;
    background-color: lightgray;
    padding: 10px;
    border-radius: 5px;
}
