<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <script defer src="//unpkg.com/@alpinejs/collapse"></script>
        <script src="//unpkg.com/@marcreichel/alpine-autosize@latest/dist/alpine-autosize.js" defer></script>
        <script src="//unpkg.com/alpinejs" defer></script>
        <script src="//unpkg.com/htmx.org"></script>
        <!--
        <script src="//cdn.tailwindcss.com"></script>
        -->
        <link rel="stylesheet" href="styles.css" />
        <script>
            function inputter(target) {
                target.dispatchEvent(new Event("input"));
            }
        </script>
    </head>

    <body class="p-4">
        <div x-data="{ expanded: false }">
            <h1 class="text-4xl">
                alpinejs/htmx
                <button @click="expanded = !expanded">▶︎</button>
            </h1>
            <textarea
                id="text"
                class="w-full"
                hx-get="text.html"
                hx-trigger="load"
                hx-on="htmx:afterRequest: inputter(this)"
                x-data
                x-autosize
            ></textarea>
            <div x-show="expanded" x-collapse>
                <button
                    hx-get="data.html"
                    hx-target="#console"
                    hx-swap="innerHTML"
                    hx-indicator="#indicator"
                    class="ml-1 bg-blue-500 text-white p-4 rounded-lg"
                >
                    load
                </button>
                <div id="indicator" class="htmx-indicator">loading...</div>
                <pre id="console"></pre>
            </div>
        </div>
        <button class="p-4 bg-slate-300" onclick="resize">resize</button>
    </body>
</html>
