DATABASE_URL=postgres://postgres:<PASSWORD>@>HOST>:5432/<DBNAME>
DJANGO_SECRET_KEY=<RANDOM_SECRET_KEY>
DEBUG=False

IMAGE=<IMAGE>
REPO=europe-docker.pkg.dev/<REPO>

REGION=<REGION>
PROJECT=<PROJECT>
SERVICE_ACCOUNT=<SERVICE_ACCOUNT>

BOT_TOKEN=1234567890:<TOKEN>
WHEEL=...
TELEGRAM_SECRET_TOKEN=<SECRET>
