<!DOCTYPE html>
<html lang="en">
    <head>
        <script src="https://unpkg.com/hyperscript.org@0.9.11"></script>
        <script src="https://unpkg.com/htmx.org@1.9.5"></script>
        <script src="https://unpkg.com/htmx.org/dist/ext/sse.js"></script>
        <script src="https://unpkg.com/htmx.org/dist/ext/client-side-templates.js"></script>
        <script src="https://unpkg.com/nunjucks@latest"></script>
        <script src="https://unpkg.com/htmx.org/dist/ext/remove-me.js"></script>
        <script src="https://unpkg.com/htmx.org/dist/ext/ws.js"></script>
        <script type="module" src="https://unpkg.com/ninja-keys?module"></script>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>HTML</title>
    </head>
    <body hx-boost="true">
        <script>
            document.body.addEventListener("htmx:sseOpen", function (event) {
                console.log("sseOpen", event);
            });
            document.body.addEventListener("htmx:sseError", function (event) {
                console.log("sseError", event);
            });
        </script>
        <ninja-keys></ninja-keys>
        <script>
            // https://github.com/ssleptsov/ninja-keys
            const ninja = document.querySelector("ninja-keys");
            ninja.data = [
                {
                    id: "Alert",
                    title: "Modal alert",
                    handler: () => {
                        alert("Your logic to handle");
                    },
                },
                {
                    id: "Google",
                    title: "Navigate to google.com",
                    children: ["Google UK", "Google RU"],
                    keywords: "search engine google",
                    section: "Search",
                    handler: () => {
                        document.location.href = "https://google.com";
                        return { keepOpen: true };
                    },
                },
                {
                    id: "Google UK",
                    title: "Navigate to google.co.uk",
                    parent: "Google",
                    keywords: "search engine google uk",
                    section: "Search",
                    handler: () => {
                        document.location.href = "https://google.co.uk";
                    },
                },
                {
                    id: "Google RU",
                    title: "Navigate to google.ru",
                    parent: "Google",
                    keywords: "search engine google ru",
                    section: "Search",
                    handler: () => {
                        document.location.href = "https://google.ru";
                    },
                },
                {
                    id: "Reload",
                    title: "Reload page",
                    handler: () => {
                        document.location.reload();
                    },
                },
            ];
        </script>
        <h1 hx-get="/health" hx-swap="innerHTML" hx-trigger="load delay:2s">health</h1>
        <h1>WS</h1>
        <div hx-ext="ws" ws-connect="/ws">
            <div id="notifications"></div>
            <div id="response"></div>
            <form id="form" ws-send>
                <input name="message" />
                <button hx-trigger="click" ws-send>send</button>
            </form>
        </div>
        <h1>queue/kv/sse</h1>
        <form method="POST" action="/enqueue">
            <label>
                <input type="text" name="message" />
            </label>
            <button hx-post="/enqueue" hx-target="#status">send</button>
            <mark id="status"></mark>
        </form>
        <output hx-get="/queue" hx-trigger="load" hx-target="#output" hx-swap-oob="#when"></output>
        <div hx-ext="sse" sse-connect="/sse" sse-swap="message" hx-swap="beforebegin"></div>
        history <span id="when" style="display: inline"></span>
        <output id="output"></output>
        <h1>self-removing element</h1>
        <div hx-ext="remove-me">
            <mark remove-me="3s">remove in 3 seconds...</mark>
        </div>
        <h1>templates</h1>
        <div id="loading" class="htmx-indicator">loading environment variables...</div>
        <div hx-ext="client-side-templates" style="font-size: 10px">
            <div style="height: 30em; overflow: scroll">
                <div
                    hx-get="/env"
                    hx-swap="innerHTML"
                    nunjucks-template="env"
                    hx-trigger="load"
                    hx-indicator="#loading"
                >
                    enviroment variables will be displayed here...
                </div>
                <template id="env">
                    {% for k, v in env %}
                    <div>[{{k}}]: [{{v}}]</div>
                    {% endfor %}
                </template>
            </div>
            <style>
                .htmx-indicator {
                    opacity: 0;
                    transition: opacity 500ms ease-in;
                }
                .htmx-request .htmx-indicator {
                    opacity: 1;
                }
                .htmx-request.htmx-indicator {
                    opacity: 1;
                }
            </style>
        </div>
    </body>
</html>
